In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = pd.read_csv('../data/merged_data.csv')

In [3]:
data['Trip Start Time']=pd.to_datetime(data['Trip Start Time'])
data['Trip End Time']=pd.to_datetime(data['Trip End Time'])

In [5]:
data['Month'] = data['Trip Start Time'].apply(lambda x: x.month)
data['Day_of_week'] = data['Trip Start Time'].apply(lambda x: x.dayofweek)

In [7]:
data['fulfilled'] = False

In [8]:
data['fulfilled'] = np.where((data['order_id'] == data['Trip ID']) & (data['driver_action'] == 'accepted'),True,data['fulfilled'])

In [9]:
data.dropna(inplace=True)

In [10]:
data.head()

,id,order_id,driver_id,driver_action,lat,lng,Trip ID,Trip Origin,Trip Destination,Trip Start Time,...,Trip_Origin_long,Trip_Destination_long,Trip_Origin_lat,Trip_Destination_lat,distance,holiday,pilot_distance,Month,Day_of_week,fulfilled
0,1,392001,243828,accepted,6.602207,3.270465,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,...,3.276634,3.391615,6.601042,6.450107,20.984319,False,0.694264,7.0,3.0,True
1,2,392001,243588,rejected,6.592097,3.287445,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,...,3.276634,3.391615,6.601042,6.450107,20.984319,False,1.551694,7.0,3.0,False
2,3,392001,243830,rejected,6.596133,3.281784,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,...,3.276634,3.391615,6.601042,6.450107,20.984319,False,0.786777,7.0,3.0,False
3,4,392001,243539,rejected,6.596142,3.280526,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,...,3.276634,3.391615,6.601042,6.450107,20.984319,False,0.692054,7.0,3.0,False
4,5,392001,171653,rejected,6.609232,3.288800,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,...,3.276634,3.391615,6.601042,6.450107,20.984319,False,1.621848,7.0,3.0,False

In [11]:
data.drop(columns=['Trip Origin','Trip Destination','id','order_id','driver_id','Trip ID','Trip End Time','Trip Start Time','lat','lng','Trip_Origin_long','Trip_Destination_long','Trip_Origin_lat','Trip_Destination_lat'],inplace=True)

In [12]:
data.head()

,driver_action,duration,distance,holiday,pilot_distance,Month,Day_of_week,fulfilled
0,accepted,3.0,20.984319,False,0.694264,7.0,3.0,True
1,rejected,3.0,20.984319,False,1.551694,7.0,3.0,False
2,rejected,3.0,20.984319,False,0.786777,7.0,3.0,False
3,rejected,3.0,20.984319,False,0.692054,7.0,3.0,False
4,rejected,3.0,20.984319,False,1.621848,7.0,3.0,False

In [26]:
non_numeric_columns = list(data.select_dtypes(exclude=[np.number]).columns)
le = LabelEncoder()

for col in non_numeric_columns:
    data[col] = le.fit_transform(data[col])

data.head(5)

,driver_action,duration,distance,holiday,pilot_distance,Month,Day_of_week,fulfilled
0,0,3.0,20.984319,0,0.694264,7.0,3.0,1
1,1,3.0,20.984319,0,1.551694,7.0,3.0,0
2,1,3.0,20.984319,0,0.786777,7.0,3.0,0
3,1,3.0,20.984319,0,0.692054,7.0,3.0,0
4,1,3.0,20.984319,0,1.621848,7.0,3.0,0

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1555718 entries, 0 to 1557739
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   driver_action   1555718 non-null  int32
 1   duration        1555718 non-null  float64
 2   distance        1555718 non-null  float64
 3   holiday         1555718 non-null  int64
 4   pilot_distance  1555718 non-null  float64
 5   Month           1555718 non-null  float64
 6   Day_of_week     1555718 non-null  float64
 7   fulfilled       1555718 non-null  int64
dtypes: float64(5), int32(1), int64(2)
memory usage: 100.9 MB

In [27]:
data.to_csv("../data/processed_data.csv",index=False)